<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}My Blog{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    {% endblock %}
</head>

<body>
    <div class="container">
        <header>
           {% block navigation %}
               <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="{{ path('home') }}">Home</a></li>
                        <li role="presentation"><a href="{{ path('about') }}">About</a></li>
                        <li role="presentation"><a href="{{ path('contact') }}">Contact</a></li>
               </ul>

           {% endblock %}

           <div class="panel panel-info">
               <div class="panel-heading"><h2>{% block blog_title %}<a href="{{ path('home') }}">My some Blog</a>{% endblock %}</h2></div>
               <div class="panel-body"><h4>{% block blog_tagline %}Hometask for GeekHub by Kobilianskiy A.</a>{% endblock %}</h4></div>
            </div>
        </header>

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                {% block body %}{% endblock %}
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
               {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="panel-footer">
        {% block footer %}
            created by Alex Kobilianskiy
        {% endblock %}
    </div>



{% block javascripts %}{% endblock %}
</body>
</html>
