<!DOCTYPE html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{asset('css/app.css')}}">

    <!-- Optional theme -->


</head>
<body>
<div class="row" >
    <div id="headImg" background-image=""></div>
    <div class="col-md-12">
        <ul class="nav nav-pills navbar-fixed-top" id="idMenuLu">
            <li role="presentation" class="active MenuLi"><a href="{{ path('welcome')}}">Home</a></li>
            <li role="presentation" class="MenuLi"><a href="{{ path('topRated')}}">top-rated</a></li>
            <li role="presentation" class="MenuLi" ><a href="{{ path('most_commented')}}">most commented</a></li>
            <li role="presentation" class="MenuLi" ><a href="{{ path('contacts')}}">contacts</a></li>
            <li role="presentation" class="MenuLi" ><a href="{{ path('show_all_forms_category')}}">all category form</a></li>
            <li role="presentation" class="MenuLi" ><a href="{{ path('show_all_forms_post')}}">all category post</a></li>


        </ul>

    </div>

</div>
