{% block header %}
{% include 'default/head.html.twig'%}
{% endblock%}
{% block startMainDiv %}
<div class="row"  id="idMainDiv">
    <div class="row"  >
{% endblock%}
{% block left %}
    {% include 'default/left_menu.html.twig'%}
{% endblock%}

{% block right %}

    <div id="MenyRender" class="col-md-9 last-post-block" >
        <span  class="label label-default spanMeny"> {{ nameCategories.name }}:</span>
        {% for key in pagination %}
            <div class="lastPost-mini-block">
                {{ key.id }}
                <br>
                {{ key.name }}
                <br>
                {{ key.description }}
               <br>

                <a href="{{ path('postPage', {'id': key.id})}}">show this post detals</a>
          </div>
        {% endfor %}




        {#paginator bundle#}

        {# display navigation #}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
   </div>

    </div>

     {% endblock %}
{% block footer %}
    {% include 'default/footer.html.twig'%}
{% endblock%}