{% include 'default/head.html.twig'%}

<div class="row"  id="idMainDiv">
    <div class="row"  >
        {% include 'default/left_menu.html.twig'%}

        <div class="col-md-9 last-post-block" >
            <span class="label label-default spanMeny">
     {% if  addOrEdit=="add" %}
                post name: {{ data.name }}
     {% else %}
         post name: {{ data }}
     {% endif %}
            </span>
            <div class="lastPost-mini-block">
     {% if  addOrEdit=="add" %}


                <span class="id" id="{{ data.id }}">author<span>:
                {% for key in data.authors %}

                    {{ key.firstName}} {{ key.LastName}}

                {% endfor %}

                <br>
                {{ data.body }}<br>
                {#data: {{ data.dataCreate }}<br> #}
                tags:
                {% for key in data.tags %}
                <a href="{{ path('tags',{'id':key.id})}}"><span class='label label-primary'>
                        {{ key.name}}</span></a>
                {% endfor %}
                <br>


         <script>
             function demo_css(){

                 //var ram=Math.floor((Math.random() * 10) + 1);
                 var idPost=$('.id').attr('id');
                 $.post('{{path('ajacs')}}', {data1: idPost}, function(response){
                         //alert(response.data);

                    var param=response.data;

                         $('#like').html('like '+response.data);

                     }, 'json');
                 }



         </script>
         <span class="badge" onclick="demo_css();" id="like" >like {{ countLikes }}</span>




                <br>
                <a href="{{ path('add_comment', {'id': id })}}">test add comment</a>
                <br>
                {% if app.request.attributes.get('_route') == "add_comment" %}

                    <h1>comment test </h1>


                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit">create</button>
                    {{ form_end(form) }}


                  <br>
                {% endif %}

         {% if  comments!=0 %}
                comments:
                {% for key in comments %}
                    <br>
                    {{ key.text }}

                   {#{% if  userAcl!="anon." %}
                        {% if  userAcl.id==key.user.id %}
                    #}
                            <a href="{{ path('comment_edit', {'id': key.id })}}"> edit comment</a>
                  {#      {% endif %}
                   {% endif %}
                   #}
                    <br>

                    <br>
                {% endfor %}
         {% endif %}


     {% else %}

         {{ form_start(edit_form) }}
         {{ form_widget(edit_form) }}

         <button type="submit">Edit</button>
         {{ form_end(edit_form) }}
         {{ form_start(delete_form_comment) }}
         {{ form_widget(delete_form_comment) }}
         <button type="submit">Delete</button>
         {{ form_end(delete_form_comment) }}
     {% endif %}
            </div>

        </div>

    </div>

{% include 'default/footer.html.twig'%}