{% include 'default/head.html.twig'%}

<div class="row"  id="idMainDiv">
    <div class="row"  >
        {% include 'default/left_menu.html.twig'%}

        <div class="col-md-9 last-post-block" >
            <span class="label label-default spanMeny">post name: {{ data.name }}</span>
            <div class="lastPost-mini-block">

                author:
                {% for key in data.authors %}

                    {{ key.firstName}} {{ key.LastName}}

                {% endfor %}

                <br>
                {{ data.body }}<br>
                data: {{ data.dataCreate }}<br>
                tags:
                {% for key in data.tags %}
                <a href="{{ path('tags',{'id':key.id})}}"><span class='label label-primary'>
                        {{ key.name}}</span></a>
                {% endfor %}
                <br>
                <a href="{{ path('add_comment', {'id': id })}}">test add comment</a>
                <br>
                {% if app.request.attributes.get('_route') == "add_comment" %}
                    <h1>comment test </h1>


                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit">create</button>
                    {{ form_end(form) }}


                  <br>
                {% endif %}

         {% if  comments!=0 %}
                comments:
                {% for key in comments %}
                    <br>
                    {{ key.text }}
                    <br>
                {% endfor %}
         {% endif %}
            </div>

        </div>
    </div>

{% include 'default/footer.html.twig'%}