{% extends 'admin/index_admin.html.twig' %}
{% block startMainDiv %}
    <div class="row"  id="idMainDiv">
        <div class="col-md-4 last-post-block" >
        <div class="contentOneMenu">
        <span class="label label-default spanMeny">forms show:</span>

            <div class="contentOneMenu">
                <h1>tag edit </h1>
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}

                <button type="submit">Edit</button>
                {{ form_end(edit_form) }}
                {{ form_start(delete_form) }}
                <button type="submit">Delete</button>
                {{ form_end(delete_form) }}
            </div>

    </div>
    </div>
    </div>
{%endblock%}
{% block left %}
{% endblock%}
{% block right%}
{% endblock %}
