{% extends 'AppBundle::base.html.twig' %}

{% block main %}
    <section class="all-posts">
        <div class="container">

            <h2>Posts</h2>
            <p><a href="{{ path('admin_post_new') }}">Add new post</a></p>

            <div class="row">
                {% for post in pagination.items %}
                    <div class="col-sm-4">
                        <article class="post-{{ post.id }}">
                            <header>
                                <h3>{{ post.title }}</h3>
                                <p>Author: <a href="#">{{ post.author.displayName }}</a></p>
                                <p>Date: {{ post.dateCreated|date("d.m.Y") }}</p>
                                <p>Category: <a href="#">{{ post.category.name }}</a></p>
                            </header>

                            <div class="post-excerpt">{{ post.content[:300] ~ '...' }}</div>

                            <footer>
                                <br>
                                <p>
                                    <a class="btn btn-primary" href="{{ path('post_show', {'id': post.id}) }}">Read more</a>
                                    <a class="btn btn-default" href="{{ path('admin_post_edit', {'id': post.id}) }}">Edit</a>
                                    <a class="btn btn-danger" href="{{ path('admin_post_delete', {'id': post.id}) }}">Delete</a>
                                </p>
                            </footer>
                        </article>
                    </div>
                {% endfor %}

                {% include 'AppBundle:default:_pagination.html.twig' %}
            </div>

        </div>
    </section>
{% endblock %}
