{% extends 'base.html.twig' %}

{% block body %}

    {% for article in articles %}
    <article>
        <header>
            <a href="{{ path('view_article', {'id' : article.id}) }}">
            <h2>{{ article.title }}</h2>
            </a>
        </header>
        <div>
            <p>{{ article.content }}</p>
        </div>
        <small>published by {{ article.author.firstName }} {{ article.author.lastName }}</small>
    </article>
    {% endfor %}

    <div><a href="{{ path('new_article') }}">Create new Article</a></div>

    <div>
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}

