{% extends 'base.html.twig' %}

{% block body %}

    {% for article in articles %}
    <article class="container">
        <header>
            <a href="{{ path('show_article', {'id' : article.id}) }}">
            <h2>{{ article.title }}</h2>
            </a>
        </header>
        <div>
            <p>{{ article.content }}</p>
        </div>
        <h4>{{ article.author.firstName }} {{ article.author.lastName }}</h4>
    </article>
    {% endfor %}
    <br>
    <div class="container">
        <a href="{{ path('new_article') }}"><div class="btn btn-primary">Create new Article</div></a>
    </div>

    <div class="container">
        <h3>{{ knp_pagination_render(articles) }}</h3>
    </div>

{% endblock %}

