{% extends "::base.html.twig" %}

{% block title %}AppBundle:Blog:list{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3>Posts</h3>
            <a href="{{ path('createPost') }}">Add new post</a>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Text</th>
                </tr>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}</td>
                        <td><a href="{{ path('postEdit', {'id': post.id}) }}">Edit</a></td>
                        <td><a href="{{ path('postDelete', {'id': post.id}) }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}