{% extends "AppBundle:layouts:column-two.html.twig" %}

{% block content %}
    {% for post in posts %}
        <div class="col-md-12">
            <h2><a href="{{ path('postsView', {'id': post.id}) }}">{{ post.title }}</a></h2>
            <div class="author-container"><strong>Author:&nbsp;</strong>{{ post.author.firstName }}&nbsp;{{ post.author.lastName }}</div>
            <div class="date-container"><strong>Date:&nbsp;</strong>{{ post.createAt.format('d-m-Y H:i:s') }}</div>
            <div class="post-container">{{ post.content }}</div>
        </div>
    {% endfor %}
{% endblock content %}

{% block sideBar %}
    <h3>Popular</h3>
    <hr>
    Most recent post<br><br>
{% endblock sideBar %}
