{% extends 'AppBundle::base.html.twig' %}
{% block title %}Search post{% endblock %}

{% block breadcrump %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="#">Post</a></li>
        <li class="active">Search</li>
    </ol>
{% endblock %}
 {% block content %}
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-9">
                 <div class="row">
                     <div class="panel panel-default">
                         <div class="panel-heading panelHeading">
                             <h3 class="panel-title">Searching posts</h3>
                         </div>
                         <div class="panel-body">
                             {% form_theme form 'AppBundle::form.html.twig' %}
                             {{ form_start(form) }}
                             {{ form_widget(form) }}
                             <button class="btn btn-default" type="submit">Go!</button>
                             {{ form_end(form) }}
                         </div>
                     </div>
                 </div>
                 {% for item in posts %}
                     <div class="row">
                         <div class="panel panel-default">
                             <div class="panel-heading panelHeading">
                                 <h3 class="panel-title"><a href="/post/{{ item.id }}">{{ item.title }}</a><span style="float: right">{{ item.createdAt|date('H:i d-m-Y') }}</span></h3>
                             </div>
                             <div class="panel-body">
                                 {{ item.text }}
                             </div>
                             <div class="panel-footer">
                                 <span><strong>Author: </strong><a href="/user/{{ item.user.id }}">{{ item.user.firstName }} {{ item.user.lastName }}</a></span>
                                 <span style="float: right"><strong>Category: </strong><a href="/category/{{ item.category.id }}">{{ item.category.name }}</a></span>
                             </div>
                         </div>
                     </div>
                 {% endfor %}
             </div>
             {{ include('AppBundle::sidebar.html.twig') }}
         </div>
     </div>
 {% endblock %}