{% extends 'AppBundle::base.html.twig' %}

{% block main %}
    <div class="container">
        <article>
            <h1>{{ post.title }}</h1>
            <a class="btn btn-primary" href="{{ path('post_new') }}">Add new post</a>
            <a class="btn btn-default" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>
            <a class="btn btn-danger" href="{{ path('post_delete', {'id': post.id}) }}">Delete</a>
            <div>{{ post.content }}</div>
            <div class="comments">
                <h3>Comments:</h3>
            </div>
        </article>
    </div>
{% endblock %}
