{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block breadcrump %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/category/{{ post.category.id }}">{{ post.category.name }}</a></li>
        <li class="active">{{ post.title }}</li>
    </ol>
{% endblock %}
 {% block content %}
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-9">
                     <div class="row">
                         <div class="panel panel-default">
                             <div class="panel-heading panelHeading">
                                 <h3 class="panel-title"><a href="/post/{{ post.id }}">{{ post.title }}</a><span style="float: right">{{ post.createdAt|date('H:i d-m-Y') }}</span></h3>
                             </div>
                             <div class="panel-body">
                                 {{ post.text }}
                             </div>
                             <div class="panel-footer">
                                 <span><strong>Author: </strong><a href="/user/{{ post.user.id }}">{{ post.user.firstName }} {{ post.user.lastName }}</a></span>
                                 <span style="float: right"><strong>Category: </strong><a href="/category/{{ post.category.id }}">{{ post.category.name }}</a></span><br />
                                 <a href="/post/{{ post.id }}/edit">Edit</a>
                             </div>
                         </div>
                     </div>
                        <h3>Comments</h3>
                         {% if comments|length  == 0 %}
                             <p>Empty. You will be the first</p>
                         {% endif %}
                         {% for comment in comments %}
                             <div class="row">
                                 <div class="panel panel-info">
                                     <div class="panel-heading">
                                         <h3 class="panel-title"><a href="/user/{{ comment.user.id }}">{{ comment.user.username }}</a></h3>
                                     </div>
                                     <div class="panel-body">
                                         {{ comment.text }}
                                     </div>
                                     <div class="panel-footer">
                                         <a href="/post/{{ post.id }}/comment/{{ comment.id }}/edit">Edit</a>
                                     </div>
                                 </div>
                             </div>
                         {% endfor %}
                         {{ render(controller('AppBundle:Comment:create', {'id' : post.id})) }}
             </div>
             {{ include('AppBundle::sidebar.html.twig') }}
         </div>
     </div>
 {% endblock %}