{% extends 'base.html.twig' %}

{% block main %}
    <article class="container">
        <header>
            <h1>{{ article.title }}</h1>
        </header>
        <div>
            <h3>{{ article.content }}</h3>
        </div>
        {# <h4>{{ article.author.firstName }} {{ article.author.lastName }}</h4> #}
        <a href="{{ path('homepage') }}"><div class="btn btn-primary">Exit</div></a>
{% endblock %}