{% extends 'AppBundle::base.html.twig' %}

{% block bodyClass %}post post-id-{{ post.id }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <article>
                    <header>
                        <h1>{{ post.title }}</h1>
                        <p>Author: <a href="#">{{ post.author.displayName }}</a></p>
                        <p>Date: {{ post.dateCreated|date("d.m.Y") }}</p>
                        <p>Category: <a href="#">{{ post.category.name }}</a></p>
                        <p>
                            <a class="btn btn-primary" href="{{ path('post_new') }}">Add new post</a>
                            <a class="btn btn-default" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>
                            <a class="btn btn-danger" href="{{ path('post_delete', {'id': post.id}) }}">Delete</a>
                        </p>
                    </header>

                    <div>{{ post.content }}</div>

                    <footer>
                        <div>
                            <h4>Tags:</h4>
                            {% for tag in tags %}
                                <a href="#">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </footer>
                </article>
            </div>

            <div class="col-sm-12">
                <h4>Comments:</h4>
                {% for comment in comments %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Author: {{ comment.author.displayName }}</p>
                            <p>Date: {{ comment.dateCreated|date("d.m.Y") }}</p>
                            <div>{{ comment.content }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
