{% extends "AppBundle:layouts:column-two.html.twig" %}

{% block title %}View Post{% endblock %}

{% block content %}
    <h3>{{ post.title }}</h3>
    <span class="post-controls-container"><a class="btn btn-primary" href="{{ path('postsEdit', {'id': post.id}) }}">Edit</a></span>
    <div class="post-item">{{ post.content }}</div>

    {% if post.comments|length > 0 %}
        <div id="comments-block">
            <div class="comments-caption"><h4>Комментарии</h4></div>

            {% for comment in comments %}
                <div class="comment-item">
                    <div>
                        <strong>{{ comment.createdAt.format('d-m-Y H:i:s') }}:</strong>
                        {{ comment.author.firstName }}
                        {{ comment.author.lastName }}
                        <a class="comment-edit" href="{{ path('editComment', {'postId': post.id, 'commentId': comment.id}) }}">Редактировать</a>
                        <span class="comment-delete" data-value="{{ comment.id }}">Удалить</span>
                    </div>
                    <div>{{ comment.content }}</div>
                </div>
            {% endfor %}

        </div>
    {% else  %}
        <div id="comments-block">
            <div class="comments-caption">Комментарии</div>
                <div class="comment-item">
                    <div>No comments added yet.</div>
                </div>
        </div>
    {% endif %}

    <div class="row">

        <div class="col-md-12">
            <h4>Добавить комментарий</h4>
            {{ form_start(form, {"attr":{"id": "comment-form"}}) }}
            {{ form_errors(form) }}

            <div class="form-group col-md-12">
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>

            <div class="form-group col-md-12">
                {{ form_label(form.author) }}
                {{ form_errors(form.author) }}
                {{ form_widget(form.author) }}
            </div>

            <div class="form-group col-md-12">
                {{ form_label(form.createdAt) }}
                {{ form_errors(form.createdAt) }}
                {{ form_widget(form.createdAt) }}
            </div>

            <div class="btn-container">
                <button type="submit" class="btn btn-primary">Комментировать</button>
            </div>

            {{ form_end(form) }}
        </div>

    </div>
{% endblock content %}

{% block sideBar %}
    <h3>Popular</h3>
    <hr>
    Cras eu ullamcorper eros, eget bibendum arcu.<br><br>
    Fusce semper eros libero, sit amet placerat risus maximus mattis.<br><br>
{% endblock sideBar %}