{% extends 'base.html.twig' %}

{% block main %}
    <article>
        <header>
            <h1>{{ article.title }}</h1>
        </header>
        <div>
            <h3>{{ article.content }}</h3>
        </div>
        <h4>{{ article.author.firstName }} {{ article.author.lastName }}</h4>
        <a href="{{ path('homepage') }}"><div class="btn btn-primary">Exit</div></a>
        {#{% for comment in comments %}
            <div>
                <blockquote>
                    <p>{{ comment.content }}</p>
                </blockquote>
            </div>
        {% endfor %}#}
    </article>
    {{ form_start(commentType) }}
    {{ form_widget(commentType) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(commentType) }}
{% endblock %}