{% extends 'layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ article.date|date('c') }}">{{ article.date|date('l, F j, Y') }}</time></div>
            <h2>{{ article.title }}</h2>
        </header>
        <div>
            <p>{{ article.content }}</p>
        </div>
    </article>

    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'Comment/index.html.twig' with {'comments': comments} %}
        </section>
    </section>
{% endblock %}